<link rel='stylesheet' href='/stylesheets/form.css'/>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<section class="head-text">
  <div class="container text-center">
    <p><h2>Add Assignment</h2></p>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
  <a class="navbar-brand logo" href="#"> Assignment <i class="fas fa-tasks logo"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
      
      <li class="nav-item">
        <a class="nav-link" href="/admin">Home <span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="/assignments">Assignment</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/helpAdminGrade">Grade Assignment</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/helpAdminAdd">Create User</a>
          <a class="dropdown-item" href="/helpAdminRemove">Remove User</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
    
  </div>
  </div>
</nav>


<!--
<div class="w3-bar w3-black navbarAdmin">
  <a href="/logout" class="w3-bar-item w3-button">Logout</a>
  <a href="/assignments" class="w3-bar-item w3-button">Assignments</a>
  
  <div class="w3-dropdown-hover">
    <button class="w3-button">Help</button>

    <div class="w3-dropdown-content w3-bar-block w3-card-4">
      <a href="/helpAdminGrade" class="w3-bar-item w3-button w3-grey">Grade Assignment</a>
      <a href="/helpAdminAdd" class="w3-bar-item w3-button w3-grey">Create User</a>
      <a href="/helpAdminRemove" class="w3-bar-item w3-button w3-grey">Remove User</a>
    </div>
    
  </div>
  <a href="/admin" class="w3-bar-item w3-button">Back</a>
</div>-->

<main class="text-center">
  <form class="form-signin" method="post" action="/addAssignment">

    <div style="text-align: left;"> &nbsp;Student Username</div>
    <input type="text" name="username" placeholder="username"><br>

    <div style="text-align: left;"> &nbsp;Due date</div>
    <input type="text" name="due" placeholder="due date (2019-12-28)"><br>

    <div style="text-align: left;"> &nbsp;Assignment Description</div>
    <textarea style="width:100%; height:auto" name="description" placeholder="assignment description"></textarea><br>

    <input class="specialButton" type="submit" value="Submit the assignment">
    {{#if success}}
      <h3 style="color:red;">Assignment creation is successful</h3>
    {{/if}}

    {{#if failure}}
      <h3 style="color:red;">Username doesn't exist</h3>
    {{/if}}

    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
  </form>
</main>



