<link rel='stylesheet' href='/stylesheets/form.css'/>

<!--
<div class="navbarLocal">
  <a href="/logout">Logout</a>
  <a href="/helpStudent">Help</a>
  <a href="/notAdmin">Back</a>
</div>-->



<link rel='stylesheet' href='/stylesheets/table.css'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<section class="head-text">
  <div class="container text-center">
    <p><h2>Change Password</h2></p>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
  <a class="navbar-brand logo" href="#"> Assignment <i class="fas fa-tasks logo"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
      
      
      <li class="nav-item">
        <a class="nav-link" href="/notAdmin">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/changePassword">Change Password</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/helpStudent">Help</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>-->
    </ul>
    
  </div>
  </div>
</nav>

<main>


<main "text-center">
    <form class="form-signin" method="post" action="/changePassword">
        {{#if user}}
            <h1 class="h3 mb-3 font-weight-normal" >Welcome, <strong>{{user.username}}</strong> !</h1>
        {{/if}}

        Current password<input type="password" name="current" placeholder="Current Password"><br>
        New Password<input type="password" name="new1" id="new1" placeholder="Password"><br>
        Confirm Password<input type="password" name="new2" id="new2" placeholder="Re-enter Password"><br>
        <input class="specialButton" type="submit" value="Change Password">
        

        {{#if success}}
            <h3 id="error">Password has changed successfully!</h3>
        {{else}}
            {{#if currentFailure}}
                <h3  id="error">This password does not match current password</h3>
            {{else}}
                {{#if matchFailure}}
                    <div id="error">Passwords do not match</div>
                {{else}} 
                    <div id="error"></div>
                {{/if}} 
            {{/if}}
        {{/if}}
    </form>
</main>


<!--check if its first-->






<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    var pass1 = $("#new1");
    var pass2 = $("#new2");

    function checkPass() {
        var pass1 = $("#new1").val();
        var pass2 = $("#new2").val();
        if (pass1 !== pass2) {
            $("#error").html("Passwords do not match");
        } else {
            $("#error").html("");
        }
    }
    pass1.change(checkPass);
    pass2.change(checkPass);
</script>
