<link rel='stylesheet' href='/stylesheets/login.css'/>
<center>
<main class="text-center">
  <form class="form-signin" method="post" action="/">
    <h1 class="h3 mb-3 font-weight-normal">Assignment Checker </h1>

    <div class="imgcontainer">
      <img src="images/graduate-student-svgrepo-com.svg" alt="Avatar" class="avatar">
    </div>

    <div style="text-align: left;" class="form-control"> Login ID </div> <input type="text" name="username" placeholder="User name" required autofocus><br>
    <div style="text-align: left;" class="form-control"> Password: </div><input type="password" name="password" placeholder="Password" required><br>
    <br><!--<div style = "float:left; width: 100px;"> &nbsp;</div>-->
    
    <button class="loginButton" type="submit">Sign In</button>
    
    {{#if error}}
      <p>{{error}}</p>
    {{/if}}
  </form>
</main>
</center>


