<link rel='stylesheet' href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<section class="head-text">
  <div class="container text-center">
    <p><h2>Update Office Hours</h2></p>
  </div>
</section>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
  <a class="navbar-brand logo" href="#"> Assignment <i class="fas fa-tasks logo"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
      
      <li class="nav-item">
        <a class="nav-link" href="/admin">Main <span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="/assignments">Assignment</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/helpAdminGrade">Grade Assignment</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/helpAdminAdd">Create User</a>
          <a class="dropdown-item" href="/helpAdminRemove">Remove User</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
    
  </div>
  </div>
</nav>


<main class="container">
<div class= "row">
    <div  class = "col-lg-4">
        <h1>Update Chat Time</h1>
        <form method="post" action="/officeHour">
        <div style = "float:left; width: 200px;">Start Time</div><input type="text" name="startT" placeholder="11:00"><br>
        <div style = "float:left; width: 200px;">End Time </div><input type="text" name="endT" placeholder="12:00"><br>
        <p></p>
        <input class="btn btn-primary" type="submit" value="update schedule"><br>
    </div>

    <div class ="col-lg-8 text-center">
        <h3>Chat Schedule</h3>
        {{#if rows}}
            {{#each rows}}
                <h4>Professor {{admin}} is available {{starttime}} - {{endtime}} </h4>
            {{/each}}
        {{/if}}
    </div>
</div>
</main>


{{#if success}}
    <br><h3 style="color:red;">UPDATE SUCCESSFUL</h3>
{{/if}}
{{#if empty}}
    <br><h3 style="color:red;">Start Time or End Time is not filled !</h3>
{{/if}}
{{#if error}}
    <p>{{error}}</p>
{{/if}}